[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "*"
pickle5 = "*"
autopep8 = "*"
google-cloud-datastore = "*"
firebase-admin = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.8"
