[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "*"
pickle5 = "*"
autopep8 = "*"
google-cloud-datastore = "*"
firebase-admin = "*"
google-auth = "*"
retry = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
