<html>
  <head>

  </head>
  <body>
    <h1 align="center">This Wine Does Not Exist</h1> 
    <h3>{{ w_name }}</h3>
    <p>{{ w_description }} </p>

  <img src="{{url_for('static', filename='wine_diagram_1.png')}}" />

  </body>
  <footer>
    <p>Created by: David Rose</p>
    <p>Created with: Python, Tensorflow/Keras, Flask, Render</p>
    <p>GitHub link: <a href="https://github.com/cipher982/this-wine-does-not-exist">
        https://github.com/cipher982/this-wine-does-not-exist</a>.</p>
  </footer> 

</html>