<html>
  <head>
    <style>
      div {
        margin-right: 50px;
        margin-left: 50px;;
      }
      </style>
  </head>
  <body>
    <h1 align="center">This Wine Does Not Exist</h1> 
    <hr>
    <button onclick="myFunction()">Reload page for new result!</button>
    <script>
    function myFunction() {
      location.reload();
      }
    </script>
    <h2 align="center"> {{ w_name }}</h3>
    <!-- <h4 align="center"> ${{ w_price }}</h4> -->
    <h4 align="center"> <b>Category:</b> {{ w_category_2 }} ({{ w_category_1 }})</h4>
    <h4 align="center"> <b>Origin:</b> {{ w_origin }}</h4>


  <p style="text-align:center;"><img src="{{ w_image }}" alt="Fake Bottle"></p>

  <div> {{ w_description }} </div>

  <hr>

  </body>
  <footer>
    <p>Created by: David Rose</p>
    <p>Created with: Python, Tensorflow, PyTorch, Flask, Gunicorn</p>
    <p>
      <li><b>Name:</b> (TensorFlow) Character embedding layer, LSTM x 2, Dense ASCII output</li>
      <li><b>Description:</b>(PyTorch) GPT2-XL 1.5b parameters, trained on 130,000 samples</li>
      <!-- <li><b>Price:</b>(Keras) Character embedding layer, Convolution, Pooling, Dense 100, Dense 1 regression output</li> -->
      <li><b>Label:</b>(TensorFlow) NVIDIA StyleGAN with tweaks</li>
    </p>
    <p>GitHub Models Link: <a href="https://github.com/cipher982/this-wine-does-not-exist">
      https://github.com/cipher982/this-wine-does-not-exist</a></p>
    <p>GitHub Flask App Link: <a href="https://github.com/cipher982/wine-flask">
      https://github.com/cipher982/wine-flask</a></p>

  </footer> 

</html>